@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=League+Spartan:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:"Poppins",serif;
}
h1{
    font-size: 40px;
    line-height: 54px;
    color: #222;
}
h2{
    font-size: 36px;
    line-height: 40px;
    color: #222;
}
h4{
    font-size: 20px;
    line-height: 34px;
    color: #222;
    font-weight: 500;
}
h3{
    font-size:30px ;
    line-height: 20px;
    font-weight: 500;
    color: #222;
}
h6{
    color: #222222e2;
    font-size: 14px;
    font-weight: 300;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
#logo-pic{
    height: 120px;
    width: auto;
}
body{
    width: 100%;
    margin: 0;
    border: 0;
}
.logo{
    height:auto;
    width: 150px;
    top:-35px;
    left:0px;
    position: absolute;

}
#margin{
    margin: 40px 0px;
}
/*header*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background-color: #f0f8ff;
    box-shadow: 0px 5px 15px rgb(0, 0, 0,0.06);
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 15px;
   
}
.navbar li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
      
}
.navbar li a{
    text-decoration: none;
    color: #465b52;
    font-weight: 600;
    
}
.navbar li a:hover,
.navbar li a.active{
    color: #088178;
}
.navbar li a.active::after,
.navbar li a:hover::after{
    width: 20%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    content: "";
    bottom: -4px;
    right: 22px;
}

/*content*/

.content{
    background-image: url("Images/top\ banner2.jpg");
    height: 90vh;
    width: 100%;
    background-position: top 0px left 0px ;
    background-size: cover;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}
.content h4{
    color: #803932;
    padding-bottom: 10px;
}
.content #h2{
    color: #088178;
    padding-top: 10px;
    padding-left: 50px;
}
.content button{
    background-image:url("Images/button.png");
    padding: 14px 80px 14px 60px;
    border: 0;
    color: #088178;
    background-color: transparent;
    background-repeat: no-repeat;
    font-weight: 700;
    cursor: pointer;
}

/*features*/

.features #section-pic{
    height: auto;
    width: 100px;
    margin: 40px 60px;
}
.features{
    display: flex;
    justify-content: space-between;
    display: wrap;
    align-items: center;
}
.features #section-pic{
    text-align: center;
    padding: 18px 5px;
    width: 180px;
    box-shadow:20px 20px 34px  rgb(0, 0, 0,0.05);
    border: 1px solid rgb(221, 216, 216);
}
.features #section-pic:hover{
    box-shadow:10px 10px 40px  rgb(0, 0, 0,0.02);
}
#section-pic h6{
    color:rgb(255, 255, 255);
    background-color:royalblue;
    line-height: 1.3;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 9px ;
}
.features h6{
    cursor: pointer;
    transition: transform 0.3s ease;
}
.features h6:hover{
    transform: scale(1.01);
}

/*products*/                                  

.products #text{
    margin:50px 400px;
    text-align: center;
}
#margin{
    padding: 0px 50px;
}
.products #product1{
    padding: 10px 10px;
    width: 25%;
    min-width: 250px;
    border: 1px solid grey;
    border-radius: 10px;
    transition: transform 0.5s ease;
    position: relative;
    margin:10px 5px;
}
.products #product1:hover{
    box-shadow: 5px 10px 40px rgb(0, 0, 0,0.1);
    cursor: pointer;
    transform: scale(1.01);
}
.products #product1 img{
    width: 100%;
    border-radius: 20px;
    position: relative;
}
#product1 span{
    color: #9678008c;
    font-size: 13px;
}
#product1 h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
#product1 #star{
    color:#FDCC0D;
}
#product1 h4{
    font-weight: 600;
    line-height: 20px;
}
#product1 .cart{
    color: #088178;
    background-color: #08817913;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    padding: 7px 6px 0px 4px;
    font-size: 22px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: transform 0.1s ease;
}
#product1 .cart:active{
    transform: scale(0.98);
    background-color: #08817955;
    border: 0.5px solid #222;
}
#product1 .heart{
    color: #bababa8d;
    background-color: #f2f9f913;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    font-weight: 500;
    padding: 3px 6px 4px 4px;
    font-size: 20px;
    transition: transform 0.1s ease;
    position: absolute;
    top: 20px;
    right: 15px;
}
#product1 .heart:active{
    transform: scale(0.98);
    color: rgb(255, 70, 70);
}
.products #container1{
    display: flex;
    justify-content:space-around;
    padding-top: 15px;
    flex-wrap: wrap;   
}

/*advertise-banner*/

.banner{
    text-align: center;
    background-image: url(Images/blue\ banner.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
}
.banner #offer{
    padding: 30px 0px;
}
.banner h2{
    font-weight: 600;
}
.banner p{
    color:#088178;
}
.banner button{
    padding: 7px 10px;
    font-size: 16px;
    color: #222;
    background-color:#fce38a;
    border-radius: 10px;
    transition: background-color 0.5s ease, transform 0.3s ease;
}
.banner button:hover{
    background-color:#ff7676;
    transform: scale(0.99);
    color: white;
    cursor:pointer;
}
.ad{ 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:0px 10px;
}
.ad #banner1{
    text-align: center;
    background-image: url(Images/ad\ banner2.jpg);
    background-size: cover;
    width:530px;
    height: 50vh;
    background-size:cover;
    background-position:top,right;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 30px;
    
}
.ad #banner2{
    text-align: center;
    background-image: url(Images/ad\ banner\ 1.jpg);
    background-size: cover;
    width:530px;
    height: 50vh;
    background-position:top;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 30px;
    
}
#banner1 h1{
    color: whitesmoke;
}
#banner1 p{
    background-color: rgb(255, 255, 135);
    color: rgba(165, 42, 42, 0.858);
    border:none;
    border-radius: 10px;
    padding: 0px 5px;
    font-size: 13px;
}
#banner1 span{
    color: whitesmoke;
    padding-left: 5px;
}
#banner1 button{
    background-color: inherit;
    border: 1px solid whitesmoke;
    padding: 5px 8px;
    margin-top: 30px;
    transition: 0.5s ease;
    color: whitesmoke;
}
#banner1:hover button{
    background-color:rgba(245, 245, 245, 0.758);
    cursor: pointer;
    color:#222;
    border: 1px soild black;
}
#banner2 h2{
    font-weight: 300;
    color: whitesmoke;
}
#banner2 h4{
    color: white;
    font-weight: 200;
    padding:25px 60px;
}
#banner2 button{
    background-color: inherit;
    border: 1px solid whitesmoke;
    padding: 5px 8px;
    margin-top: 20px;
    transition:0.5s ease;
    color: whitesmoke;
    
}
#banner2:hover button{
    background-color: rgba(245, 245, 245, 0.758);
    cursor: pointer;
    color:#222;
}
.ad2{ 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin:30px 40px;
    position: relative;
}

.ad2 #banner3{
text-align: center;
background-image: url(Images/blazzer.jpg);
background-size: cover;
min-width:30%;
height: 40vh;
background-position:right;
align-items: flex-start;
display: flex;
flex-direction: column;
padding: 30px;
position: relative;
transition: transform 0.7s ease;
}
#banner3 h2{
     color: whitesmoke;
     padding: 100px 45px;
     font-size: 45px;
     position: absolute; 
     transition: transform 0.7s ease; 
}
#banner3 h4{
     color:#222;
     right: 10px;
     top: 10px;
     position: absolute;
     font-size: 14px;
}
.ad2 #banner3:hover{
     transform:translateY(-2px) scale(1.01);
}
#banner3:hover h2{
    transform: scale(1.2);
}

.ad2 #banner4{
text-align: center;
background-image: url(Images/tutussie.jpg);
background-size: cover;
min-width:30%;
height: 40vh;
background-position:right;
align-items: flex-start;
display: flex;
flex-direction: column;
padding: 30px;
position: relative;
transition: transform 0.7s ease
}
#banner4 h2{
    color: whitesmoke;
    padding: 100px 0px;
    font-size: 45px;
    position: absolute; 
    transition: transform 0.7s ease  
}
#banner4 h4{
    color:maroon;
    right: 10px;
    top: 10px;
    position: absolute;
    font-size: 14px;
}
.ad2 #banner4:hover{
    transform:translateY(-2px) scale(1.01);
}
#banner4:hover h2{
   transform: scale(1.2);
}

.ad2 #banner5{
text-align: center;
background-image: url(Images/Traditional.jpg);
background-size: cover;
min-width:30%;
height: 40vh;
background-position:top;
align-items: flex-start;
display: flex;
flex-direction: column;
padding: 30px;
position: relative;
transition: transform 0.7s ease
}
#banner5 h2{
    color: whitesmoke;
    padding: 100px 45px;
    font-size: 45px;
    position: absolute;
    transition: transform 0.7s ease   
}
#banner5 h4{
    color:whitesmoke;
    right: 10px;
    top: 10px;
    position: absolute;
    font-size: 14px;
}
.ad2 #banner5:hover{
    transform:translateY(-2px) scale(1.01);
}
#banner5:hover h2{
   transform: scale(1.2);
}
.last{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    background-image: url(Images/pink\ banner.jpg);
    background-size: cover;
    min-width:100%;
    height: 30vh;  
    margin-top: 100px;
    
}
.last #text{
    padding: 10px 20px;
}
.last #text h2{
    color:#088178;
}
.last #text h4 span{
    color: #ffbd27;
}
.last #signup{
    padding: 40px 70px;
    display: flex;
    justify-content: space-between;
}
.last #signup input{
    padding: 2px 5px;
    border: none;
    outline: none;
}
.last #signup button{
    background-color: #088178;
    color: whitesmoke;
    border: none;
    outline: none;
    padding: 2px 5px;
    transition: transform 0.3s ease;
}
.last #signup button:hover{
    transform: scale(0.99);
    cursor: pointer;
}

#footerlogo{
     height: 200px;
     width: auto; 
     margin-top: -30px;   
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer #col1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}
footer h4,a{
    padding-bottom: 10px;
    font-size: 13px;
    color: #465b52;
    text-decoration: none;

}
footer p{
    margin: 5px 0 3px 0;
    font-size: 13px;
}
footer #contact{
    margin: -80px 0 0 0;
}
